<?xml version="1.0" ?>
 <!-- 
/**
 * Sunbrains
 * Copyright (C) 2019 Sunbrains <info@sunbrains.com>
 *
 * @category Sunbrains
 * @package Sunbrains_SMSNotification
 * @copyright Copyright (c) 2019 Mage Delight (http://www.sunbrains.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Sunbrains <info@sunbrains.com>
 */ 
 -->
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
               <resource id="Sunbrains_SMSNotification::smsnotification" title="SMS Notification" sortOrder="51">
                    <resource id="Sunbrains_SMSNotification::smsnotifications" title="SMS Notification" sortOrder="60">
                        <resource id="Sunbrains_SMSNotification::smstemplates" title="SMS Templates" sortOrder="100" />
                        <resource id="Sunbrains_SMSNotification::smslog" title="SMS Log" sortOrder="110" />
                    </resource>    
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Sunbrains_SMSNotification::smsconfiguration" title="SMSNotification"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>