 <!-- 
/**
 * Sunbrains
 * @category  Sunbrains
 * @package   Sunbrains_SMSProfile
 * @author    Sunbrains
 */ 
 -->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <label class="label" for="customer-email">
                <!-- ko if: (window.checkoutConfig.otplogin == 'login_otp' || window.checkoutConfig.otplogin == 'login_both') -->
                  <span data-bind="i18n: 'Email Address or Phone '"></span>
                <!-- /ko -->
                <!-- ko if: (window.checkoutConfig.otplogin == 'login_pwd') -->
                  <span data-bind="i18n: 'Email Address'"></span>
                <!-- /ko -->
            </label>
            <div class="control _with-tooltip">
               <!-- ko if: (window.checkoutConfig.otplogin == 'login_otp' || window.checkoutConfig.otplogin == 'login_both') -->
                <input class="input-text"
                       type="text"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true}"
                       id="customer-email" />
                 <p class="profile-notice-phone"><!-- ko text: window.checkoutConfig.otpnote --><!-- /ko --></p>      
                <!-- /ko -->
                <!-- ko if: (window.checkoutConfig.otplogin == 'login_pwd' ) -->
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            mageInit: {'mage/trim-input':{}}"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <!-- /ko -->
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
            </div>
        </div>
        
        
        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <!-- ko if: (window.checkoutConfig.otplogin == 'login_pwd' || window.checkoutConfig.otplogin == 'login_both') -->
            <div class="field customer-password-field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('Password'),
                                }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" 
                           autocomplete="off"/>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>

            </div>
            <!-- /ko -->
            <!-- ko if: (window.checkoutConfig.otplogin == 'login_otp' ) -->
            <div class="field customer-password-field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           data-bind="
                                attr: {
                                    placeholder: $t('Password'),
                                }"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:false}" 
                           autocomplete="off"/>
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>

            </div>
            <!-- /ko -->
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: (window.checkoutConfig.otplogin == 'login_otp' || window.checkoutConfig.otplogin == 'login_both') -->
             <div class="field" style="margin-top: 15px;">
                  <button class="send_otp_login action primary"  style="display: none" type="button">Generate OTP</button>
                  <div class="control">
                    <input class="input-text verifiedotp"
                           type="hidden"
                           name="otp"
                           id="customer-otp"
                           value="0" />
                  </div>
            </div>
            <!-- /ko --> 

            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login'"></span></button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
            
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
