<?xml version="1.0" encoding="UTF-8"  ?>
<!--
/**
 * Sunbrains
 * @category  Sunbrains
 * @package   Sunbrains_SMSProfile
 * @author    Sunbrains
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_customer_account_createpost">
       <observer name="sunbrains_smsprofile_customer_save" instance="Sunbrains\SMSProfile\Observer\CustomerSave" />
    </event>
    
</config>
