/*Normallize for Anguler-material style*/
body{
	.mdl-textfield__input,
	textarea.mdl-textfield__input{
		.abs-allstyle(@main_input_text, @main_input_border, @main_input_background, @f_input);
	}
	.mdl-textfield{
	   padding-top: 10px;
	   padding-bottom: 10px;
	   width: 100%;
	}
	&.rtl-layout {
		.mdl-textfield__label,
		.input-text,
		.mdl-textfield__input{
			text-align: right;
		}
	}
	.mdl-textfield__label:after{
	   bottom: 10px;
	}
	.mdl-textfield--floating-label{
		.mdl-textfield__label{
			font:@f_input;
			color:@main_input_text;
		}
		&.is-focused,
		&.is-dirty,
		&.has-placeholder{
			.mdl-textfield__label{
				color:@main_hover_text;
				top: 5px;
			}
		}
	}
	body .fieldset .required  .mdl-textfield__label:before {
		content: '*';
		color: #e02b27;
	}
	.mdl-checkbox__box-outline{
		border-color: #ccc;
	}
	.mdl-textfield{
		width: 100%;
	}
	.mdl-textfield__label:after{
		background-color:@main_hover_text;
	}
	.mdl-switch.is-upgraded{
		padding-top: 5px;
		.rtl-layout & {
			padding-left: 0;
			padding-right: 28px;
			.mdl-switch__track,
			.mdl-switch__thumb{
				left: auto;
				right: 0;
			}
			.mdl-switch__ripple-container{
				left: auto;
				right: -14px;
			}
			.mdl-switch__label{
				left: auto;
				right: 24px;
			}
		}
	}
	.mdl-progress>.progressbar{
		.rtl-layout &{
			left:auto;
			right:0;
		}
	}
}
/*Form*/
md-content.md-default-theme, md-content{
	.abs-allstyle(@main_text, transparent);
}
md-checkbox.md-checked .md-icon{
	background: @main_hover_text;
}
md-checkbox.md-checked .md-ink-ripple{
	color: @main_hover_text;
}
md-checkbox .md-icon{
	top: -2px;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline,
.mdl-checkbox__ripple-container .mdl-ripple{
	background: @main_hover_text
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
	border-color:@main_hover_text;
}
/*switch control*/
.mdl-switch.is-checked .mdl-switch__track{
	background: lighten(@main_hover_text, 10%)
}
.mdl-switch.is-checked .mdl-switch__thumb,
.mdl-switch__ripple-container .mdl-ripple{
	background: @main_hover_text
}
.column:not(.sidebar-main) form .actions-toolbar, 
.column:not(.sidebar-additional) form .actions-toolbar{
	margin: 0;
}
.fieldset .legend{
    margin-left: 0;
	padding-bottom: 10px;
    border-bottom: 1px solid @main_border;
    width: 100%;
	font: @f_h5;
	font-weight: 600;
	text-transform: uppercase;
	color: @main_title_text;
	margin-bottom: 10px;
}
/*button*/